.App {
  text-align: center;
  display: grid;
  grid: [header] "sidebar header" 10%
        [body] "sidebar main" 1fr
        /10% 1fr;
}

.App-header {
  grid-area: header;
  background-color: #222;
  color: white;
  font-size: large;
  overflow: scroll;
}

.App-sidebar {
  grid-area: sidebar;
  overflow: scroll;
  overflow-wrap: normal;
  text-align: left;
}

.App-sidebar a,.App-main a {
  text-decoration: none;
  color:black;
}

.App-sidebar a:hover,.App-main a:hover {
  text-decoration: none;
  color:blue;
}


.App-main {
  grid-area: main;
}

.menu {

}

/* for popup menu */
/* .menu:hover .menu-body{
  visibility: visible;
  
}

.menu-body {
  visibility: hidden;
} */
