.App {
  text-align: center;
  display: grid;
  grid: [header] "sidebar header" 10%
        [body] "sidebar main" 1fr
        /10% 1fr;
}

.App-header {
  grid-area: header;
  background-color: #222;
  color: white;
  font-size: large;
  overflow: scroll;
}

.App-sidebar {
  grid-area: sidebar;
  overflow: scroll;
  overflow-wrap: normal;
  text-align: left;
}

.App-sidebar li {
  list-style-type: none;
}

.App-sidebar a,.App-main a {
  text-decoration: none;
  color:black;
}

.App-sidebar a:hover,.App-main a:hover {
  text-decoration: none;
  color:blue;
}


.App-main {
  margin-left: auto;
  margin-right: auto;
  grid-area: main;
}

.review-list-items {
  width: 50%;
  list-style-type: none;


}

.review-list-items * {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end ;
  overflow: hidden;

  flex-basis: 75%;
}

.review-list-items .delete-button-main {
  flex-basis: 20%;
}

.menu {

}

/* for popup menu */
/* .menu:hover .menu-body{
  visibility: visible;
  
}

.menu-body {
  visibility: hidden;
} */
